View/Connected Services/MateWSLocal/DBControllerWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.mateproyecto.inf.pucp.edu.pe/" targetNamespace="http://services.mateproyecto.inf.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="deleteCustomer" type="tns:deleteCustomer" />
  <xs:element name="deleteCustomerResponse" type="tns:deleteCustomerResponse" />
  <xs:element name="insertCustomer" type="tns:insertCustomer" />
  <xs:element name="insertCustomerResponse" type="tns:insertCustomerResponse" />
  <xs:element name="insertDiscountProduct" type="tns:insertDiscountProduct" />
  <xs:element name="insertDiscountProductResponse" type="tns:insertDiscountProductResponse" />
  <xs:element name="insertEmployee" type="tns:insertEmployee" />
  <xs:element name="insertEmployeeResponse" type="tns:insertEmployeeResponse" />
  <xs:element name="insertFamily" type="tns:insertFamily" />
  <xs:element name="insertFamilyResponse" type="tns:insertFamilyResponse" />
  <xs:element name="insertPremises" type="tns:insertPremises" />
  <xs:element name="insertPremisesResponse" type="tns:insertPremisesResponse" />
  <xs:element name="insertProduct" type="tns:insertProduct" />
  <xs:element name="insertProductResponse" type="tns:insertProductResponse" />
  <xs:element name="insertSale" type="tns:insertSale" />
  <xs:element name="insertSaleResponse" type="tns:insertSaleResponse" />
  <xs:element name="insertSupplier" type="tns:insertSupplier" />
  <xs:element name="insertSupplierResponse" type="tns:insertSupplierResponse" />
  <xs:element name="insertUser" type="tns:insertUser" />
  <xs:element name="insertUserResponse" type="tns:insertUserResponse" />
  <xs:element name="queryAllArea" type="tns:queryAllArea" />
  <xs:element name="queryAllAreaResponse" type="tns:queryAllAreaResponse" />
  <xs:element name="queryAllBrand" type="tns:queryAllBrand" />
  <xs:element name="queryAllBrandResponse" type="tns:queryAllBrandResponse" />
  <xs:element name="queryAllCustomer" type="tns:queryAllCustomer" />
  <xs:element name="queryAllCustomerResponse" type="tns:queryAllCustomerResponse" />
  <xs:element name="queryAllDiscount" type="tns:queryAllDiscount" />
  <xs:element name="queryAllDiscountResponse" type="tns:queryAllDiscountResponse" />
  <xs:element name="queryAllEmployee" type="tns:queryAllEmployee" />
  <xs:element name="queryAllEmployeeResponse" type="tns:queryAllEmployeeResponse" />
  <xs:element name="queryAllFamily" type="tns:queryAllFamily" />
  <xs:element name="queryAllFamilyResponse" type="tns:queryAllFamilyResponse" />
  <xs:element name="queryAllPremises" type="tns:queryAllPremises" />
  <xs:element name="queryAllPremisesResponse" type="tns:queryAllPremisesResponse" />
  <xs:element name="queryAllProducts" type="tns:queryAllProducts" />
  <xs:element name="queryAllProductsResponse" type="tns:queryAllProductsResponse" />
  <xs:element name="queryAllSale" type="tns:queryAllSale" />
  <xs:element name="queryAllSaleResponse" type="tns:queryAllSaleResponse" />
  <xs:element name="queryAllSupplier" type="tns:queryAllSupplier" />
  <xs:element name="queryAllSupplierResponse" type="tns:queryAllSupplierResponse" />
  <xs:element name="queryAllUser" type="tns:queryAllUser" />
  <xs:element name="queryAllUserResponse" type="tns:queryAllUserResponse" />
  <xs:element name="queryByIdEmployee" type="tns:queryByIdEmployee" />
  <xs:element name="queryByIdEmployeeResponse" type="tns:queryByIdEmployeeResponse" />
  <xs:element name="updateCustomer" type="tns:updateCustomer" />
  <xs:element name="updateCustomerResponse" type="tns:updateCustomerResponse" />
  <xs:element name="updateEmployee" type="tns:updateEmployee" />
  <xs:element name="updateEmployeeResponse" type="tns:updateEmployeeResponse" />
  <xs:element name="updateFamily" type="tns:updateFamily" />
  <xs:element name="updateFamilyResponse" type="tns:updateFamilyResponse" />
  <xs:element name="updatePremises" type="tns:updatePremises" />
  <xs:element name="updatePremisesResponse" type="tns:updatePremisesResponse" />
  <xs:element name="updateProduct" type="tns:updateProduct" />
  <xs:element name="updateProductResponse" type="tns:updateProductResponse" />
  <xs:element name="updateSupplier" type="tns:updateSupplier" />
  <xs:element name="updateSupplierResponse" type="tns:updateSupplierResponse" />
  <xs:element name="updateUser" type="tns:updateUser" />
  <xs:element name="updateUserResponse" type="tns:updateUserResponse" />
  <xs:complexType name="updateUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="user" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="user">
    <xs:sequence>
      <xs:element minOccurs="0" name="creationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="creatorUser" type="tns:user" />
      <xs:element minOccurs="0" name="employee" type="tns:employee" />
      <xs:element minOccurs="0" name="expirationDate" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="modificationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element name="state" type="xs:int" />
      <xs:element minOccurs="0" name="user" type="xs:string" />
      <xs:element minOccurs="0" name="userModifier" type="tns:user" />
      <xs:element name="userType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="employee">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:person">
        <xs:sequence>
          <xs:element minOccurs="0" name="area" type="tns:area" />
          <xs:element minOccurs="0" name="contractEndDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="contractStarDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="creationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="creatorUser" type="tns:user" />
          <xs:element name="idEmployee" type="xs:int" />
          <xs:element minOccurs="0" name="modificationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="role" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="sales" nillable="true" type="tns:sale" />
          <xs:element minOccurs="0" name="user" type="tns:user" />
          <xs:element minOccurs="0" name="userModifier" type="tns:user" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="person">
    <xs:sequence>
      <xs:element minOccurs="0" name="birthdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" type="xs:string" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element name="personID" type="xs:int" />
      <xs:element minOccurs="0" name="phone" type="xs:string" />
      <xs:element minOccurs="0" name="secondLastName" type="xs:string" />
      <xs:element name="state" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="area">
    <xs:sequence>
      <xs:element minOccurs="0" name="abbreviation" type="xs:string" />
      <xs:element minOccurs="0" name="creationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="creatorUser" type="tns:user" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="employees" nillable="true" type="tns:employee" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idArea" type="xs:string" />
      <xs:element minOccurs="0" name="modificationDate" type="xs:dateTime" />
      <xs:element name="state" type="xs:int" />
      <xs:element minOccurs="0" name="userModifier" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sale">
    <xs:sequence>
      <xs:element minOccurs="0" name="creationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="creatorUser" type="tns:user" />
      <xs:element minOccurs="0" name="customer" type="tns:customer" />
      <xs:element minOccurs="0" name="employee" type="tns:employee" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="modificationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="saleLanes" nillable="true" type="tns:saleLane" />
      <xs:element minOccurs="0" name="serialCode" type="xs:string" />
      <xs:element name="state" type="xs:int" />
      <xs:element name="totalSale" type="xs:float" />
      <xs:element minOccurs="0" name="userModifier" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" type="xs:string" />
      <xs:element minOccurs="0" name="creationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="creatorUser" type="tns:user" />
      <xs:element minOccurs="0" name="descriptionCustomer" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:string" />
      <xs:element name="idCustomer" type="xs:int" />
      <xs:element minOccurs="0" name="kindOfCustomer" type="xs:string" />
      <xs:element minOccurs="0" name="modificationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="occupation" type="xs:string" />
      <xs:element minOccurs="0" name="phone" type="xs:string" />
      <xs:element name="state" type="xs:int" />
      <xs:element minOccurs="0" name="userModifier" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="saleLane">
    <xs:sequence>
      <xs:element minOccurs="0" name="creationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="creatorUser" type="tns:user" />
      <xs:element name="idSaleLane" type="xs:int" />
      <xs:element minOccurs="0" name="modificationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="product" type="tns:product" />
      <xs:element name="quantity" type="xs:int" />
      <xs:element minOccurs="0" name="sale" type="tns:sale" />
      <xs:element name="subtotal" type="xs:float" />
      <xs:element minOccurs="0" name="userModifier" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="product">
    <xs:sequence>
      <xs:element name="availability" type="xs:int" />
      <xs:element minOccurs="0" name="brand" type="tns:brand" />
      <xs:element minOccurs="0" name="creationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="creatorUser" type="tns:user" />
      <xs:element minOccurs="0" name="discount" type="tns:discount" />
      <xs:element minOccurs="0" name="family" type="tns:family" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="igv" type="xs:float" />
      <xs:element minOccurs="0" name="kindOfProduct" type="xs:string" />
      <xs:element minOccurs="0" name="modificationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" name="productCareDescription" type="xs:string" />
      <xs:element minOccurs="0" name="productDescription" type="xs:string" />
      <xs:element name="purchasePrice" type="xs:float" />
      <xs:element minOccurs="0" name="SKUcode" type="xs:string" />
      <xs:element name="salePrice" type="xs:float" />
      <xs:element name="state" type="xs:int" />
      <xs:element name="stock" type="xs:int" />
      <xs:element minOccurs="0" name="userModifier" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="brand">
    <xs:sequence>
      <xs:element minOccurs="0" name="brandID" type="xs:string" />
      <xs:element minOccurs="0" name="creationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="creatorUser" type="tns:user" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="modificationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element name="state" type="xs:int" />
      <xs:element minOccurs="0" name="userModifier" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="discount">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element name="discountAmount" type="xs:float" />
      <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idDiscount" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="products" nillable="true" type="tns:product" />
      <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
      <xs:element name="state" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="family">
    <xs:sequence>
      <xs:element minOccurs="0" name="creationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="creatorUser" type="tns:user" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idFamily" type="xs:string" />
      <xs:element minOccurs="0" name="modificationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element name="state" type="xs:int" />
      <xs:element minOccurs="0" name="userModifier" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertPremises">
    <xs:sequence>
      <xs:element minOccurs="0" name="premises" type="tns:premises" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="premises">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" type="xs:string" />
      <xs:element minOccurs="0" name="creationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="creatorUser" type="tns:user" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idPremises" type="xs:string" />
      <xs:element minOccurs="0" name="modificationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="spaces" nillable="true" type="tns:space" />
      <xs:element name="state" type="xs:int" />
      <xs:element minOccurs="0" name="userModifier" type="tns:user" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="warehouses" nillable="true" type="tns:warehouse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="space">
    <xs:sequence>
      <xs:element minOccurs="0" name="creationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="creatorUser" type="tns:user" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idSpace" type="xs:string" />
      <xs:element minOccurs="0" name="modificationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="premises" type="tns:premises" />
      <xs:element name="state" type="xs:int" />
      <xs:element minOccurs="0" name="userModifier" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="warehouse">
    <xs:sequence>
      <xs:element minOccurs="0" name="creationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="creatorUser" type="tns:user" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idWarehouse" type="xs:string" />
      <xs:element minOccurs="0" name="modificationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="premises" type="tns:premises" />
      <xs:element name="state" type="xs:int" />
      <xs:element minOccurs="0" name="userModifier" type="tns:user" />
      <xs:element minOccurs="0" name="warehouseCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="warehouseDetails" nillable="true" type="tns:warehouseDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="warehouseDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="creationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="creatorUser" type="tns:user" />
      <xs:element name="idWarehouseDetail" type="xs:int" />
      <xs:element minOccurs="0" name="modificationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="product" type="tns:product" />
      <xs:element name="quantity" type="xs:int" />
      <xs:element minOccurs="0" name="userModifier" type="tns:user" />
      <xs:element minOccurs="0" name="warehouse" type="tns:warehouse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertPremisesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" name="customer" type="tns:customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteCustomerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertDiscountProduct">
    <xs:sequence>
      <xs:element minOccurs="0" name="idDiscount" type="xs:int" />
      <xs:element minOccurs="0" name="idProduct" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertDiscountProductResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllEmployee">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="queryAllEmployeeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertProduct">
    <xs:sequence>
      <xs:element minOccurs="0" name="product" type="tns:product" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertProductResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllSupplier">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="queryAllSupplierResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:supplier" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="supplier">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" type="xs:string" />
      <xs:element minOccurs="0" name="artist" type="tns:artist" />
      <xs:element minOccurs="0" name="bankData" type="xs:string" />
      <xs:element minOccurs="0" name="contactEmail" type="xs:string" />
      <xs:element minOccurs="0" name="contactPerson" type="xs:string" />
      <xs:element minOccurs="0" name="contactPhone" type="xs:string" />
      <xs:element minOccurs="0" name="creationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="creatorUser" type="tns:user" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="modificationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" name="RUC" type="xs:string" />
      <xs:element name="state" type="xs:int" />
      <xs:element minOccurs="0" name="supplierCode" type="xs:string" />
      <xs:element minOccurs="0" name="termOfSale" type="xs:string" />
      <xs:element minOccurs="0" name="userModifier" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="artist">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:person">
        <xs:sequence>
          <xs:element minOccurs="0" name="creationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="creatorUser" type="tns:user" />
          <xs:element name="idArtist" type="xs:int" />
          <xs:element minOccurs="0" name="modificationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="supplier" type="tns:supplier" />
          <xs:element name="totalPresentations" type="xs:int" />
          <xs:element minOccurs="0" name="userModifier" type="tns:user" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="updateCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" name="customer" type="tns:customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateCustomerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryByIdEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" name="idEmployee" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryByIdEmployeeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="user" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllBrand">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="queryAllBrandResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:brand" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateFamily">
    <xs:sequence>
      <xs:element minOccurs="0" name="family" type="tns:family" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateFamilyResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertSale">
    <xs:sequence>
      <xs:element minOccurs="0" name="sale" type="tns:sale" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertSaleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertFamily">
    <xs:sequence>
      <xs:element minOccurs="0" name="family" type="tns:family" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertFamilyResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" name="customer" type="tns:customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertCustomerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllSale">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="queryAllSaleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:sale" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateSupplier">
    <xs:sequence>
      <xs:element minOccurs="0" name="supplier" type="tns:supplier" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateSupplierResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllPremises">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="queryAllPremisesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:premises" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllCustomer">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="queryAllCustomerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllUser">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="queryAllUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllArea">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="queryAllAreaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:area" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateProduct">
    <xs:sequence>
      <xs:element minOccurs="0" name="product" type="tns:product" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateProductResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" name="employee" type="tns:employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertEmployeeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllProducts">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="queryAllProductsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:product" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updatePremises">
    <xs:sequence>
      <xs:element minOccurs="0" name="premises" type="tns:premises" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updatePremisesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertSupplier">
    <xs:sequence>
      <xs:element minOccurs="0" name="supplier" type="tns:supplier" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertSupplierResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllDiscount">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="queryAllDiscountResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:discount" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryAllFamily">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="queryAllFamilyResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:family" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" name="employee" type="tns:employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateEmployeeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>