View/Connected Services/MateWSLocal/DBControllerWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.mateproyecto.inf.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="DBControllerWS" targetNamespace="http://services.mateproyecto.inf.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://192.168.207.209:8080/MATEWeb/DBControllerWS?xsd=1" namespace="http://services.mateproyecto.inf.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="insertDiscountProduct">
    <part name="parameters" element="tns:insertDiscountProduct" />
  </message>
  <message name="insertDiscountProductResponse">
    <part name="parameters" element="tns:insertDiscountProductResponse" />
  </message>
  <message name="queryByIdEmployee">
    <part name="parameters" element="tns:queryByIdEmployee" />
  </message>
  <message name="queryByIdEmployeeResponse">
    <part name="parameters" element="tns:queryByIdEmployeeResponse" />
  </message>
  <message name="updateUser">
    <part name="parameters" element="tns:updateUser" />
  </message>
  <message name="updateUserResponse">
    <part name="parameters" element="tns:updateUserResponse" />
  </message>
  <message name="queryAllArea">
    <part name="parameters" element="tns:queryAllArea" />
  </message>
  <message name="queryAllAreaResponse">
    <part name="parameters" element="tns:queryAllAreaResponse" />
  </message>
  <message name="queryAllEmployee">
    <part name="parameters" element="tns:queryAllEmployee" />
  </message>
  <message name="queryAllEmployeeResponse">
    <part name="parameters" element="tns:queryAllEmployeeResponse" />
  </message>
  <message name="queryAllPremises">
    <part name="parameters" element="tns:queryAllPremises" />
  </message>
  <message name="queryAllPremisesResponse">
    <part name="parameters" element="tns:queryAllPremisesResponse" />
  </message>
  <message name="insertPremises">
    <part name="parameters" element="tns:insertPremises" />
  </message>
  <message name="insertPremisesResponse">
    <part name="parameters" element="tns:insertPremisesResponse" />
  </message>
  <message name="updateFamily">
    <part name="parameters" element="tns:updateFamily" />
  </message>
  <message name="updateFamilyResponse">
    <part name="parameters" element="tns:updateFamilyResponse" />
  </message>
  <message name="updatePremises">
    <part name="parameters" element="tns:updatePremises" />
  </message>
  <message name="updatePremisesResponse">
    <part name="parameters" element="tns:updatePremisesResponse" />
  </message>
  <message name="queryAllDiscount">
    <part name="parameters" element="tns:queryAllDiscount" />
  </message>
  <message name="queryAllDiscountResponse">
    <part name="parameters" element="tns:queryAllDiscountResponse" />
  </message>
  <message name="queryAllSupplier">
    <part name="parameters" element="tns:queryAllSupplier" />
  </message>
  <message name="queryAllSupplierResponse">
    <part name="parameters" element="tns:queryAllSupplierResponse" />
  </message>
  <message name="queryAllProducts">
    <part name="parameters" element="tns:queryAllProducts" />
  </message>
  <message name="queryAllProductsResponse">
    <part name="parameters" element="tns:queryAllProductsResponse" />
  </message>
  <message name="insertCustomer">
    <part name="parameters" element="tns:insertCustomer" />
  </message>
  <message name="insertCustomerResponse">
    <part name="parameters" element="tns:insertCustomerResponse" />
  </message>
  <message name="updateCustomer">
    <part name="parameters" element="tns:updateCustomer" />
  </message>
  <message name="updateCustomerResponse">
    <part name="parameters" element="tns:updateCustomerResponse" />
  </message>
  <message name="deleteCustomer">
    <part name="parameters" element="tns:deleteCustomer" />
  </message>
  <message name="deleteCustomerResponse">
    <part name="parameters" element="tns:deleteCustomerResponse" />
  </message>
  <message name="updateEmployee">
    <part name="parameters" element="tns:updateEmployee" />
  </message>
  <message name="updateEmployeeResponse">
    <part name="parameters" element="tns:updateEmployeeResponse" />
  </message>
  <message name="updateSupplier">
    <part name="parameters" element="tns:updateSupplier" />
  </message>
  <message name="updateSupplierResponse">
    <part name="parameters" element="tns:updateSupplierResponse" />
  </message>
  <message name="queryAllFamily">
    <part name="parameters" element="tns:queryAllFamily" />
  </message>
  <message name="queryAllFamilyResponse">
    <part name="parameters" element="tns:queryAllFamilyResponse" />
  </message>
  <message name="updateProduct">
    <part name="parameters" element="tns:updateProduct" />
  </message>
  <message name="updateProductResponse">
    <part name="parameters" element="tns:updateProductResponse" />
  </message>
  <message name="insertUser">
    <part name="parameters" element="tns:insertUser" />
  </message>
  <message name="insertUserResponse">
    <part name="parameters" element="tns:insertUserResponse" />
  </message>
  <message name="queryAllCustomer">
    <part name="parameters" element="tns:queryAllCustomer" />
  </message>
  <message name="queryAllCustomerResponse">
    <part name="parameters" element="tns:queryAllCustomerResponse" />
  </message>
  <message name="insertEmployee">
    <part name="parameters" element="tns:insertEmployee" />
  </message>
  <message name="insertEmployeeResponse">
    <part name="parameters" element="tns:insertEmployeeResponse" />
  </message>
  <message name="insertSupplier">
    <part name="parameters" element="tns:insertSupplier" />
  </message>
  <message name="insertSupplierResponse">
    <part name="parameters" element="tns:insertSupplierResponse" />
  </message>
  <message name="queryAllUser">
    <part name="parameters" element="tns:queryAllUser" />
  </message>
  <message name="queryAllUserResponse">
    <part name="parameters" element="tns:queryAllUserResponse" />
  </message>
  <message name="insertSale">
    <part name="parameters" element="tns:insertSale" />
  </message>
  <message name="insertSaleResponse">
    <part name="parameters" element="tns:insertSaleResponse" />
  </message>
  <message name="queryAllSale">
    <part name="parameters" element="tns:queryAllSale" />
  </message>
  <message name="queryAllSaleResponse">
    <part name="parameters" element="tns:queryAllSaleResponse" />
  </message>
  <message name="queryAllBrand">
    <part name="parameters" element="tns:queryAllBrand" />
  </message>
  <message name="queryAllBrandResponse">
    <part name="parameters" element="tns:queryAllBrandResponse" />
  </message>
  <message name="insertFamily">
    <part name="parameters" element="tns:insertFamily" />
  </message>
  <message name="insertFamilyResponse">
    <part name="parameters" element="tns:insertFamilyResponse" />
  </message>
  <message name="insertProduct">
    <part name="parameters" element="tns:insertProduct" />
  </message>
  <message name="insertProductResponse">
    <part name="parameters" element="tns:insertProductResponse" />
  </message>
  <portType name="DBControllerWS">
    <operation name="insertDiscountProduct">
      <input wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/insertDiscountProductRequest" message="tns:insertDiscountProduct" />
      <output wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/insertDiscountProductResponse" message="tns:insertDiscountProductResponse" />
    </operation>
    <operation name="queryByIdEmployee">
      <input wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/queryByIdEmployeeRequest" message="tns:queryByIdEmployee" />
      <output wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/queryByIdEmployeeResponse" message="tns:queryByIdEmployeeResponse" />
    </operation>
    <operation name="updateUser">
      <input wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/updateUserRequest" message="tns:updateUser" />
      <output wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/updateUserResponse" message="tns:updateUserResponse" />
    </operation>
    <operation name="queryAllArea">
      <input wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/queryAllAreaRequest" message="tns:queryAllArea" />
      <output wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/queryAllAreaResponse" message="tns:queryAllAreaResponse" />
    </operation>
    <operation name="queryAllEmployee">
      <input wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/queryAllEmployeeRequest" message="tns:queryAllEmployee" />
      <output wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/queryAllEmployeeResponse" message="tns:queryAllEmployeeResponse" />
    </operation>
    <operation name="queryAllPremises">
      <input wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/queryAllPremisesRequest" message="tns:queryAllPremises" />
      <output wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/queryAllPremisesResponse" message="tns:queryAllPremisesResponse" />
    </operation>
    <operation name="insertPremises">
      <input wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/insertPremisesRequest" message="tns:insertPremises" />
      <output wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/insertPremisesResponse" message="tns:insertPremisesResponse" />
    </operation>
    <operation name="updateFamily">
      <input wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/updateFamilyRequest" message="tns:updateFamily" />
      <output wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/updateFamilyResponse" message="tns:updateFamilyResponse" />
    </operation>
    <operation name="updatePremises">
      <input wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/updatePremisesRequest" message="tns:updatePremises" />
      <output wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/updatePremisesResponse" message="tns:updatePremisesResponse" />
    </operation>
    <operation name="queryAllDiscount">
      <input wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/queryAllDiscountRequest" message="tns:queryAllDiscount" />
      <output wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/queryAllDiscountResponse" message="tns:queryAllDiscountResponse" />
    </operation>
    <operation name="queryAllSupplier">
      <input wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/queryAllSupplierRequest" message="tns:queryAllSupplier" />
      <output wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/queryAllSupplierResponse" message="tns:queryAllSupplierResponse" />
    </operation>
    <operation name="queryAllProducts">
      <input wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/queryAllProductsRequest" message="tns:queryAllProducts" />
      <output wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/queryAllProductsResponse" message="tns:queryAllProductsResponse" />
    </operation>
    <operation name="insertCustomer">
      <input wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/insertCustomerRequest" message="tns:insertCustomer" />
      <output wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/insertCustomerResponse" message="tns:insertCustomerResponse" />
    </operation>
    <operation name="updateCustomer">
      <input wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/updateCustomerRequest" message="tns:updateCustomer" />
      <output wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/updateCustomerResponse" message="tns:updateCustomerResponse" />
    </operation>
    <operation name="deleteCustomer">
      <input wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/deleteCustomerRequest" message="tns:deleteCustomer" />
      <output wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/deleteCustomerResponse" message="tns:deleteCustomerResponse" />
    </operation>
    <operation name="updateEmployee">
      <input wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/updateEmployeeRequest" message="tns:updateEmployee" />
      <output wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/updateEmployeeResponse" message="tns:updateEmployeeResponse" />
    </operation>
    <operation name="updateSupplier">
      <input wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/updateSupplierRequest" message="tns:updateSupplier" />
      <output wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/updateSupplierResponse" message="tns:updateSupplierResponse" />
    </operation>
    <operation name="queryAllFamily">
      <input wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/queryAllFamilyRequest" message="tns:queryAllFamily" />
      <output wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/queryAllFamilyResponse" message="tns:queryAllFamilyResponse" />
    </operation>
    <operation name="updateProduct">
      <input wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/updateProductRequest" message="tns:updateProduct" />
      <output wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/updateProductResponse" message="tns:updateProductResponse" />
    </operation>
    <operation name="insertUser">
      <input wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/insertUserRequest" message="tns:insertUser" />
      <output wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/insertUserResponse" message="tns:insertUserResponse" />
    </operation>
    <operation name="queryAllCustomer">
      <input wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/queryAllCustomerRequest" message="tns:queryAllCustomer" />
      <output wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/queryAllCustomerResponse" message="tns:queryAllCustomerResponse" />
    </operation>
    <operation name="insertEmployee">
      <input wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/insertEmployeeRequest" message="tns:insertEmployee" />
      <output wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/insertEmployeeResponse" message="tns:insertEmployeeResponse" />
    </operation>
    <operation name="insertSupplier">
      <input wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/insertSupplierRequest" message="tns:insertSupplier" />
      <output wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/insertSupplierResponse" message="tns:insertSupplierResponse" />
    </operation>
    <operation name="queryAllUser">
      <input wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/queryAllUserRequest" message="tns:queryAllUser" />
      <output wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/queryAllUserResponse" message="tns:queryAllUserResponse" />
    </operation>
    <operation name="insertSale">
      <input wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/insertSaleRequest" message="tns:insertSale" />
      <output wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/insertSaleResponse" message="tns:insertSaleResponse" />
    </operation>
    <operation name="queryAllSale">
      <input wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/queryAllSaleRequest" message="tns:queryAllSale" />
      <output wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/queryAllSaleResponse" message="tns:queryAllSaleResponse" />
    </operation>
    <operation name="queryAllBrand">
      <input wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/queryAllBrandRequest" message="tns:queryAllBrand" />
      <output wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/queryAllBrandResponse" message="tns:queryAllBrandResponse" />
    </operation>
    <operation name="insertFamily">
      <input wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/insertFamilyRequest" message="tns:insertFamily" />
      <output wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/insertFamilyResponse" message="tns:insertFamilyResponse" />
    </operation>
    <operation name="insertProduct">
      <input wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/insertProductRequest" message="tns:insertProduct" />
      <output wsam:Action="http://services.mateproyecto.inf.pucp.edu.pe/DBControllerWS/insertProductResponse" message="tns:insertProductResponse" />
    </operation>
  </portType>
  <binding name="DBControllerWSPortBinding" type="tns:DBControllerWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertDiscountProduct">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryByIdEmployee">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="updateUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryAllArea">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryAllEmployee">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryAllPremises">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertPremises">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="updateFamily">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="updatePremises">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryAllDiscount">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryAllSupplier">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryAllProducts">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertCustomer">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="updateCustomer">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="deleteCustomer">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="updateEmployee">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="updateSupplier">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryAllFamily">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="updateProduct">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryAllCustomer">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertEmployee">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertSupplier">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryAllUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertSale">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryAllSale">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryAllBrand">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertFamily">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertProduct">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="DBControllerWS">
    <port name="DBControllerWSPort" binding="tns:DBControllerWSPortBinding">
      <soap:address location="http://192.168.207.209:8080/MATEWeb/DBControllerWS" />
    </port>
  </service>
</definitions>